id_rsa
authorized_keys
id_rsa.pub
known_hosts
xiii_git
xiii_git.pub
*.un\~
*\~
*.orig
*.swp
*.log
*.log.old
mpdstate
mpd.pid
mpd.log
nvim/.config/nvim/tmp/
*history*
weechat/.weechat/logs/*
mpd/.mpd/mpd.log
mpd/.mpd/mpdstate
vimperator/.vimperator/info/default/history-command
vimperator/.vimperator/info/default/history-search
vimperator/.vimperator/info/default/local-marks
mutt/.mutt/.*
mutt/.mutt/hcache
vimperator/.vimperator/info/default/macros
*.localstorage
fonts/.local/
*.back
