!------------------------------------------------------------------------------
! XFT Settings

Xft.dpi:                                        96
Xft.antialias:                                  true
Xft.rgba:                                       rgb
Xft.hinting:                                    true
Xft.hintstyle:                                  hintslight


!------------------------------------------------------------------------------
! URXVT - Settings

URxvt*geometry:                                 80x25
URxvt*foreground:                               white
URxvt*borderLess:                               false
URxvt*scrollBar:                                false
URxvt*cursorBlink:                              true
URxvt*cursorUnderline:                          true
URxvt*cursorColor:                              #ffffff
URxvt*scrollColor:                              #151515
URxvt*perl-ext-common:                          default,clipboard,url-select,keyboard-select,vtwheel
! URxvt*font:                                     xft:Ohsnap:hinting=true:pixelsize=10:antialias=false
! URxvt*boldFont:                                 xft:Ohsnap:style=bold:hinting=true:pixelsize=10:antialias=false
! URxvt*italicFont:                               xft:Ohsnap:style=italic:hinting=true:pixelsize=10:antialias=false
! URxvt*boldItalicFont:                           xft:Ohsnap:style=bolditalic:hinting=true:pixelsize=10:antialias=false

! urxvt*font: xft:Dejavu Sans Mono for Powerline:pixelsize=12,style=regular
! urxvt*boldFont: xft:Dejavu Sans Mono for Powerline:pixelsize=12,style=regular

urxvt*font: xft:envypn:pixelsize=12,style=regular
urxvt*boldFont: xft:envypn:pixelsize=12,style=regular

URxvt.underlineURLs:                            true
URxvt.url-select.launcher:                      /usr/bin/iceweasel
URxvt.url-select.underline:                     true

URxvt*background:        #282828
!URxvt.background: rgba:0000/0000/0000/9999
URxvt.foreground:        #F2F1F0
! URxvt.cursorColor:       #F07746

!*background: #2c2c2c
*background: #222222
*foreground: #f0f0f0

! --- standard colors ---
!black
URxvt.color0: #222222
URxvt.color8: #666666
!red
URxvt.color1: #E84F4F
URxvt.color9: #D23D3D
!green
URxvt.color2: #B7CE42
URxvt.color10: #BDE077
!yellow
URxvt.color3: #F07746
URxvt.color11: #F07746
!blue
URxvt.color4: #66AABB
URxvt.color12: #AACCBB
!magenta
URxvt.color5: #B7416E
URxvt.color13: #E16A98
!cyan
URxvt.color6: #6D878D
URxvt.color14: #42717B
!white
URxvt.color7: #F2F1F0
URxvt.color15: #F2F1F0

! --- General colors ---

!black
*color0: #222222
*color8: #666666
!red
*color1: #E84F4F
*color9: #D23D3D
!green
*color2: #B7CE42
*color10: #BDE077
!yellow
*color3: #F07746
*color11: #F07746
!blue
*color4: #66AABB
*color12: #AACCBB
!magenta
*color5: #B7416E
*color13: #E16A98
!cyan
*color6: #6D878D
*color14: #42717B
!white
*color7: #F2F1F0
*color15: #F2F1F0

!------------------------------------------------------------------------------
! Man pages colors

*VT100.colorBDMode:                             true
*VT100.colorBD:                                 red
*VT100.colorULMode:                             true
*VT100.colorUL:                                 magenta
*VT100.veryBoldColors:                          6

!------------------------------------------------------------------------------
! dzen2 bar
dzen2*font: -*-berry-*-*-*-*-10-*-*-*-*-*-*-*
dzen2*foreground: #9E8C7A
dzen2*background: #111111

