<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/">
	<menu id="root-menu" label="Applications">
		<menu id="pipe-cal" label="Calendar" execute="~/.config/openbox/date_menu.sh" />
				<separator/>
		<menu id="main-menu" label="Applications">
		<item icon="/usr/share/icons/AmGrey/72x72/apps/terminal.png" label="Terminal">
			<action name="Execute">
				<execute>urxvt</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/AmGrey/72x72/apps/file-manager.png" label="File Manager">
			<action name="Execute">
				<execute>xdg-open .</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/AmGrey/72x72/apps/web-browser.png" label="Web Browser">
			<action name="Execute">
				<execute>xdg-open http://</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/AmGrey/72x72/actions/system-run.png" label="Run command">
			<action name="Execute">
				<execute>gmrun</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/AmGrey/72x72/apps/system-users.png" label="Instant messaging">
			<action name="Execute">
				<execute>pidgin</execute>
			</action>
		</item>
			<separator/>
		<menu icon="/usr/share/icons/AmGrey/72x72/categories/applications-utilities.png" id="Accessories" label="Accessories">
			<item icon="/usr/share/icons/hicolor/32x32/apps/p7zip.png" label="7-Zip FM">
				<action name="Execute">
					<execute>7zFM</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/actions/help-about.png" label="About Xfce">
				<action name="Execute">
					<execute>xfce4-about</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/Thunar.png" label="Bulk Rename">
				<action name="Execute">
					<execute>/usr/lib/Thunar/ThunarBulkRename</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/accessories-calculator.png" label="Calculator">
				<action name="Execute">
					<execute>gnome-calculator</execute>
				</action>
			</item>
			<item icon="" label="compton">
				<action name="Execute">
					<execute>compton</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/system-file-manager.png" label="File Manager">
				<action name="Execute">
					<execute>exo-open --launch FileManager</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/guake.png" label="Guake Terminal">
				<action name="Execute">
					<execute>guake</execute>
				</action>
			</item>
			<item icon="/usr/share/pixmaps/terminal-tango.svg" label="Sakura">
				<action name="Execute">
					<execute>sakura</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/synergy.ico" label="Synergy">
				<action name="Execute">
					<execute>synergy</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/utilities-terminal.png" label="Terminal Emulator">
				<action name="Execute">
					<execute>exo-open --launch TerminalEmulator</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/utilities-terminal.png" label="Terminal">
				<action name="Execute">
					<execute>pantheon-terminal</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/Thunar.png" label="Thunar File Manager">
				<action name="Execute">
					<execute>thunar</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/tilda.png" label="Tilda">
				<action name="Execute">
					<execute>/usr/bin/tilda</execute>
				</action>
			</item>
		</menu>
		<menu icon="/usr/share/icons/AmGrey/72x72/categories/applications-development.png" id="Development" label="Development">
			<item icon="/usr/share/pixmaps/CMakeSetup32.png" label="CMake">
				<action name="Execute">
					<execute>cmake-gui</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/hicolor/16x16/apps/sun-java-jdk8.png" label="Java Mission Control">
				<action name="Execute">
					<execute>/usr/lib/jvm/java-8-jdk/bin/jmc</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/hicolor/16x16/apps/sun-java-jdk8.png" label="Java Monitoring and Management Console">
				<action name="Execute">
					<execute>/usr/lib/jvm/java-8-jdk/bin/jconsole</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/hicolor/16x16/apps/sun-java-jdk8.png" label="Java VisualVM">
				<action name="Execute">
					<execute>/usr/lib/jvm/java-8-jdk/bin/jvisualvm</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/hicolor/32x32/apps/assistant-qt4.png" label="Qt4 Assistant">
				<action name="Execute">
					<execute>assistant-qt4</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/hicolor/128x128/apps/designer-qt4.png" label="Qt4 Designer">
				<action name="Execute">
					<execute>designer-qt4</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/hicolor/64x64/apps/linguist-qt4.png" label="Qt4 Linguist">
				<action name="Execute">
					<execute>linguist-qt4</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/hicolor/32x32/apps/qdbusviewer-qt4.png" label="Qt4 QDbusViewer">
				<action name="Execute">
					<execute>qdbusviewer-qt4</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/hicolor/16x16/apps/sublime-text.png" label="Sublime Text 3 Dev">
				<action name="Execute">
					<execute>subl3</execute>
				</action>
			</item>
		</menu>
		<menu icon="/usr/share/icons/AmGrey/72x72/categories/applications-games.png" id="Games" label="Games">
			<item icon="/usr/share/playonlinux/etc/playonlinux.png" label="PlayOnLinux">
				<action name="Execute">
					<execute>playonlinux</execute>
				</action>
			</item>
			<item icon="/usr/share/pixmaps/steam.png" label="Steam">
				<action name="Execute">
					<execute>/usr/bin/steam</execute>
				</action>
			</item>
		</menu>
		<menu icon="/usr/share/icons/AmGrey/72x72/categories/applications-graphics.png" id="Graphics" label="Graphics">
			<item icon="/usr/share/feh/images/feh.png" label="Feh">
				<action name="Execute">
					<execute>feh</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/gimp.png" label="GNU Image Manipulation Program">
				<action name="Execute">
					<execute>gimp-2.8</execute>
				</action>
			</item>
		</menu>
		<menu icon="/usr/share/icons/AmGrey/72x72/categories/applications-multimedia.png" id="Multimedia" label="Multimedia">
			<item icon="/usr/share/icons/hicolor/64x64/apps/minitube.png" label="Minitube">
				<action name="Execute">
					<execute>minitube</execute>
				</action>
			</item>
			<item icon="/usr/share/pixmaps/pasystray.png" label="PulseAudio System Tray">
				<action name="Execute">
					<execute>pasystray</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/multimedia-volume-control.png" label="PulseAudio Volume Control">
				<action name="Execute">
					<execute>pavucontrol</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/hicolor/64x64/apps/qv4l2.png" label="Qt V4L2 test Utility">
				<action name="Execute">
					<execute>qv4l2</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/hicolor/64x64/apps/smtube.png" label="SMPlayer YouTube Browser">
				<action name="Execute">
					<execute>smtube</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/hicolor/64x64/apps/smplayer.png" label="SMPlayer">
				<action name="Execute">
					<execute>smplayer</execute>
				</action>
			</item>
			<item icon="/usr/share/pixmaps/sonata.png" label="Sonata">
				<action name="Execute">
					<execute>sonata</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/hicolor/64x64/apps/spotify-client.png" label="Spotify">
				<action name="Execute">
					<execute>spotify</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/hicolor/64x64/apps/umplayer.png" label="UMPlayer">
				<action name="Execute">
					<execute>umplayer</execute>
				</action>
			</item>
		</menu>
		<menu icon="/usr/share/icons/AmGrey/72x72/categories/applications-internet.png" id="Network" label="Network">
			<item icon="/usr/share/icons/AmGrey/72x72/devices/network-wired.png" label="Avahi SSH Server Browser">
				<action name="Execute">
					<execute>/usr/bin/bssh</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/devices/network-wired.png" label="Avahi VNC Server Browser">
				<action name="Execute">
					<execute>/usr/bin/bvnc</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/dropbox.png" label="Dropbox">
				<action name="Execute">
					<execute>dropboxd</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/firefox.png" label="Firefox">
				<action name="Execute">
					<execute>/usr/lib/firefox/firefox</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/hicolor/64x64/apps/google-chrome-unstable.png" label="Google Chrome (unstable)">
				<action name="Execute">
					<execute>/usr/bin/google-chrome-unstable</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/actions/gtk-missing-image.png" label="Mail Reader">
				<action name="Execute">
					<execute>exo-open --launch MailReader</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/pidgin.png" label="Pidgin Internet Messenger">
				<action name="Execute">
					<execute>pidgin</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/skype.png" label="Skype">
				<action name="Execute">
					<execute>skype</execute>
				</action>
			</item>
			<item icon="/usr/share/pixmaps/steam.png" label="Steam">
				<action name="Execute">
					<execute>/usr/bin/steam</execute>
				</action>
			</item>
			<item icon="/usr/share/pixmaps/teamspeak3.xpm" label="TeamSpeak 3">
				<action name="Execute">
					<execute>teamspeak3</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/thunderbird.png" label="Thunderbird">
				<action name="Execute">
					<execute>thunderbird</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/web-browser.png" label="Web Browser">
				<action name="Execute">
					<execute>exo-open --launch WebBrowser</execute>
				</action>
			</item>
		</menu>
		
	</menu>

		<separator/>
	<menu icon="/usr/share/icons/AmGrey/72x72/categories/applications-accessories.png" id="System Settings" label="System Settings">
		<menu icon="/usr/share/icons/AmGrey/72x72/categories/applications-accessories.png" id="Settings" label="Settings">
			<item icon="/usr/share/icons/AmGrey/72x72/apps/preferences-desktop-theme.png" label="Customize Look and Feel">
				<action name="Execute">
					<execute>lxappearance</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/actions/gtk-missing-image.png" label="Default Sound Card">
				<action name="Execute">
					<execute>/usr/bin/asoundconf-gtk</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/system-file-manager.png" label="File Manager">
				<action name="Execute">
					<execute>thunar-settings</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/hicolor/22x22/apps/guake-prefs.png" label="Guake Preferences">
				<action name="Execute">
					<execute>guake-prefs</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/hicolor/16x16/apps/sun-java-jdk8.png" label="Java Policy Settings">
				<action name="Execute">
					<execute>/usr/lib/jvm/java-8-jdk/jre/bin/policytool</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/hicolor/16x16/apps/sun-java-jre8.png" label="Java Policy Settings">
				<action name="Execute">
					<execute>/usr/lib/jvm/java-8-jre/jre/bin/policytool</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/hicolor/16x16/apps/sun-jcontrol-jdk8.png" label="Java">
				<action name="Execute">
					<execute>/usr/lib/jvm/java-8-jdk/jre/bin/jcontrol</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/hicolor/16x16/apps/sun-jcontrol-jre8.png" label="Java">
				<action name="Execute">
					<execute>/usr/lib/jvm/java-8-jre/jre/bin/jcontrol</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/categories/preferences-system-network.png" label="Network Connections">
				<action name="Execute">
					<execute>nm-connection-editor</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/hicolor/48x48/apps/xfce4-notifyd.png" label="Notifications">
				<action name="Execute">
					<execute>xfce4-notifyd-config</execute>
				</action>
			</item>
			<item icon="/usr/share/pixmaps/nvidia-settings.png" label="NVIDIA X Server Settings">
				<action name="Execute">
					<execute>/usr/bin/nvidia-settings</execute>
				</action>
			</item>
			<item icon="/usr/share/pixmaps/obconf.png" label="Openbox Configuration Manager">
				<action name="Execute">
					<execute>obconf</execute>
				</action>
			</item>
			<item icon="/usr/share/pixmaps/tint2conf.svg" label="Panel tint2">
				<action name="Execute">
					<execute>tint2conf</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/hicolor/48x48/apps/preferences-desktop-default-applications.png" label="Preferred Applications">
				<action name="Execute">
					<execute>exo-preferred-applications</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/categories/preferences-desktop.png" label="PulseAudio Preferences">
				<action name="Execute">
					<execute>paprefs</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/xscreensaver.png" label="Screensaver">
				<action name="Execute">
					<execute>xscreensaver-demo</execute>
				</action>
			</item>
		</menu>
		<menu icon="/usr/share/icons/AmGrey/72x72/categories/applications-system.png" id="System" label="System">
			<item icon="/usr/share/icons/AmGrey/72x72/devices/network-wired.png" label="Avahi Zeroconf Browser">
				<action name="Execute">
					<execute>/usr/bin/avahi-discover</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/Thunar.png" label="Bulk Rename">
				<action name="Execute">
					<execute>/usr/lib/Thunar/ThunarBulkRename</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/hicolor/64x64/apps/dconf-editor.png" label="dconf Editor">
				<action name="Execute">
					<execute>dconf-editor</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/guake.png" label="Guake Terminal">
				<action name="Execute">
					<execute>guake</execute>
				</action>
			</item>
			<item icon="/usr/share/pixmaps/htop.png" label="Htop">
				<action name="Execute">
					<execute>xterm -e 'htop'</execute>
				</action>
			</item>
			<item icon="/usr/share/pixmaps/terminal-tango.svg" label="Sakura">
				<action name="Execute">
					<execute>sakura</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/categories/preferences-system.png" label="Settings">
				<action name="Execute">
					<execute>gnome-control-center --overview</execute>
				</action>
			</item>
			<item icon="/usr/share/hardinfo/pixmaps/logo.png" label="System Profiler and Benchmark">
				<action name="Execute">
					<execute>hardinfo</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/Thunar.png" label="Thunar File Manager">
				<action name="Execute">
					<execute>thunar</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/tilda.png" label="Tilda">
				<action name="Execute">
					<execute>/usr/bin/tilda</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/utilities-terminal.png" label="urxvt (client)">
				<action name="Execute">
					<execute>urxvtc</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/utilities-terminal.png" label="urxvt (tabbed)">
				<action name="Execute">
					<execute>urxvt-tabbed</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/utilities-terminal.png" label="urxvt">
				<action name="Execute">
					<execute>urxvt</execute>
				</action>
			</item>
			<item icon="/usr/share/pixmaps/xterm-color_48x48.xpm" label="UXTerm">
				<action name="Execute">
					<execute>uxterm</execute>
				</action>
			</item>
			<item icon="/usr/share/pixmaps/xterm-color_48x48.xpm" label="XTerm">
				<action name="Execute">
					<execute>xterm</execute>
				</action>
			</item>
		</menu>
	</menu>
		<menu icon="/usr/share/icons/AmGrey/72x72/categories/gnome-settings.png" id="Advanced Settings" label="Advanced Settings">
			<item icon="/usr/share/icons/AmGrey/72x72/apps/geany.png" label="Conky RC">
				<action name="Execute">
					<execute>subl3 ~/.conkyrc</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/AmGrey/72x72/apps/geany.png" label="Tint2 Panel">
				<action name="Execute">
					<execute>subl3 ~/.config/tint2/tint2rc</execute>
				</action>
			</item>
			<menu icon="/usr/share/icons/AmGrey/72x72/actions/gtk-missing-image.png" id="Obmenu-Generator" label="Obmenu-Generator">
				<item icon="/usr/share/icons/AmGrey/72x72/apps/geany.png" label="Menu Schema">
					<action name="Execute">
						<execute>subl3 ~/.config/obmenu-generator/schema.pl</execute>
					</action>
				</item>
				<item icon="/usr/share/icons/AmGrey/72x72/apps/geany.png" label="Menu Config">
					<action name="Execute">
						<execute>subl3 ~/.config/obmenu-generator/config.pl</execute>
					</action>
				</item>
				<separator/>
				<item icon="/usr/share/icons/AmGrey/72x72/actions/gtk-missing-image.png" label="Generate a pipe menu">
					<action name="Execute">
						<execute>obmenu-generator -p</execute>
					</action>
				</item>
				<item icon="/usr/share/icons/AmGrey/72x72/actions/gtk-missing-image.png" label="Generate a static menu">
					<action name="Execute">
						<execute>obmenu-generator -s</execute>
					</action>
				</item>
				<item icon="/usr/share/icons/AmGrey/72x72/actions/gtk-missing-image.png" label="Generate a pipe menu with icons">
					<action name="Execute">
						<execute>obmenu-generator -p -i</execute>
					</action>
				</item>
				<item icon="/usr/share/icons/AmGrey/72x72/actions/gtk-missing-image.png" label="Generate a static menu with icons">
					<action name="Execute">
						<execute>obmenu-generator -s -i</execute>
					</action>
				</item>
				<separator/>
				<item icon="/usr/share/icons/AmGrey/72x72/actions/gtk-refresh.png" label="Refresh Icon Set">
					<action name="Execute">
						<execute>obmenu-generator -d</execute>
					</action>
				</item>
			</menu>
			<menu icon="/usr/share/pixmaps/openbox.png" id="Openbox" label="Openbox">
				<item icon="/usr/share/pixmaps/openbox.png" label="Reconfigure Openbox">
					<action name="Execute">
						<execute>openbox --reconfigure</execute>
					</action>
				</item>
				<item icon="/usr/share/icons/AmGrey/72x72/apps/geany.png" label="Openbox Autostart">
					<action name="Execute">
						<execute>subl3 ~/.config/openbox/autostart</execute>
					</action>
				</item>
				<item icon="/usr/share/icons/AmGrey/72x72/apps/geany.png" label="Openbox RC">
					<action name="Execute">
						<execute>subl3 ~/.config/openbox/rc.xml</execute>
					</action>
				</item>
				<item icon="/usr/share/icons/AmGrey/72x72/apps/geany.png" label="Openbox Menu">
					<action name="Execute">
						<execute>subl3 ~/.config/openbox/menu.xml</execute>
					</action>
				</item>
			</menu>
			<menu icon="/usr/share/icons/AmGrey/72x72/actions/gtk-missing-image.png" id="Pacman / Servers" label="Pacman / Servers">
				<item icon="/usr/share/icons/AmGrey/72x72/places/start-here.png" label="Makepkg Config">
					<action name="Execute">
						<execute>gksu subl3 /etc/makepkg.conf</execute>
					</action>
				</item>
				<item icon="/usr/share/icons/AmGrey/72x72/places/start-here.png" label="Pacman Config">
					<action name="Execute">
						<execute>gksu subl3 /etc/pacman.conf</execute>
					</action>
				</item>
				<item icon="/usr/share/icons/AmGrey/72x72/places/start-here.png" label="Pacman Mirrorlist">
					<action name="Execute">
						<execute>gksu subl3 /etc/pacman.d/mirrorlist</execute>
					</action>
				</item>
			</menu>
		</menu>
		<separator/>
		<item icon="/usr/share/icons/AmGrey/72x72/actions/lock.png" label="Lock">
			<action name="Execute">
				<execute>xscreensaver-command -lock</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/AmGrey/72x72/actions/exit.png" label="Exit">
			<action name="Execute">
				<execute>oblogout</execute>
			</action>
		</item>
	</menu>
</openbox_menu>
